:root {
  --backgroundColor: white;
  --fontColor: #816451;
  --dateColor: #b3a296;
  --topbarColor: #b59f88;
  --accentColor: #edcf90;
  --tooltipColor: #edcf908e;
  --card-bg: white;
}

@media all {
  html,
  body {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 1px var(--fontColor);
  }

  div.controlbar {
    display: none;
    position: fixed;
    box-sizing: border-box;
    height: 100vh;
    width: 10%;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--topbarColor);
    overflow-x: hidden;
    padding: 60px;
    transition: 0.5s;
    border: solid 2px var(--fontColor);
  }

  div.controlbar .closebtn {
    cursor: pointer;
    font-size: 20px;
    color: var(--fontColor);
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    border: none;
    background-color: transparent;
  }

  .openbtn {
    cursor: pointer;
    font-size: 20px;
    color: var(--fontColor);
    padding: 10px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
  }

  div.topbar {
    position: relative;
    box-sizing: border-box;
    height: 20%;
    width: 100%;
    margin-top: 100px;
    background-color: var(--topbarColor);
  }

  div.topbar img.pb {
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 5px;
  }

  .btn {
    cursor: pointer;
    box-sizing: border-box;
    height: min-content;
    width: 90%;
    padding: 4px;
    margin: 10px;
    background-color: var(--card-bg);
    color: var(--fontColor);
    border-radius: 4px;
    position: absolute;
    align-self: center;
  }

  .btn:hover {
    transform: scale(1.05);
  }

  .row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .center {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .height-100 {
    height: 100%;
  }

  .width-100 {
    width: 100%;
  }

  .width-50 {
    width: 50%;
  }

  .p-5 {
    padding: 5px;
  }

  .p-10 {
    padding: 10px;
  }

  .p-text {
    padding: 0 20px 0 20px;
  }

  .m-15 {
    margin: 15px;
  }

  .defaultImg {
    height: 24px;
    width: 24px;
    margin: 4px;
  }

  h1 {
    text-transform: uppercase;
    border-bottom: solid 1px var(--accentColor);
    margin: 14px;
  }

  h3 {
    margin: 0;
  }

  hr {
    width: 80%;
    border: 0;
    border-top: solid 1px #e5e5e5ee;
  }

  p {
    margin: 0 10px 0 10px;
  }

  div.tooltip {
    position: relative;
  }

  div.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 5%;
    background: var(--tooltipColor);
    padding: 5px 10px;
    border-radius : 6px;
    white-space: nowrap;
    opacity: 0;
    transition : all 0.4s ease;
  }

  div.tooltip::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid var(--tooltipColor);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transition : all 0.4s ease;
    opacity: 0;
    left: 20%;
    top: 75%;
  }

  div.tooltip:hover:after, div:hover:before {
    opacity: 1;
  }

  .main {
    position: relative;
    height: 70%;
    width: 100%;
  }

  .aboutMe {
    box-sizing: border-box;
  }

  div.row.p-30 > a {
    color: var(--fontColor);
    text-decoration: none;
  }

  .skills {
    box-sizing: border-box;
  }

  .projects {
    box-sizing: border-box;
  }

  .cards {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }

  .card {
    box-sizing: border-box;
    height: 210px;
    width: 140px;
    background-color: var(--card-bg);
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 0 10px 10px 20px;
  }

  .card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  .text {
    font-size: 14px;
    height: 80%;
  }

  .date {
    color: var(--dateColor);
  }

  div.text div.column > span {
    font-size: 12px;
  }

  div.text div.column > span.desc {
    text-align: start;
  }

  .lang {
    box-sizing: border-box;
    height: 20%;
    display: flex;
    justify-content: center;
  }

  div.card > a {
    color: var(--fontColor);
    text-decoration: none;
  }
}

@media (max-width: 576px) {
  .main {
    flex-wrap: wrap;
  }

  .aboutMe {
    height: auto !important;
    width: 100% !important;
  }

  .projects {
    height: auto !important;
    width: 100% !important;
  }
}
